<p>home works!</p>

<form [formGroup]="form">
    <div style="font-size: 12px">
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput formControlName="username" type="text" placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
        <mat-error *ngIf="form.controls.username.hasError('required')">This input is required</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button [disabled]="form.invalid" color="primary" type="submit" >Add</button>
</form>




<mat-slider min="1" max="100" step="1" value="50">sdfdsfds</mat-slider>

