
li {
list-style-type: none;
width: 240px;
text-align: center;
border-radius: 2px;
padding-top: 10px;
padding-bottom: 10px;

text-align: center;

margin-right: 15px;
background: #dbe491;
}
li:hover {
transform: scale(1.1);
}
img {
width: 150px;
height: 150px;
margin-top: 20px;
border-radius: 4px;
border: 3px solid rgb(248, 248, 248);
}
#title {
margin-bottom: 13px;
color: white;
}
.desc {
padding: 13px;
}
button {
border: none;
background: white;
padding: 6px;
border-radius: 3px;
margin: 5px;
}
button:hover {
background: #63aeec;
color: white;
}