<h3>This is Reactive form with FormBuider Service</h3>
<form [formGroup]="form">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [formControl]="$any(form).get('email')" />  Error in email: {{$any(form).get('email').errors | json}}
       <div *ngIf="form.get('email')!.invalid && form.get('email')!.touched" class="bg-danger"> Error in email</div>
    
        
    </div>
    
    <div class="form-group">
        <label for="uuid">Uuid</label>
        <input type="uuid" [formControl]="$any(form).get('uuid')" /> {{ $any(form).get('uuid').errors | json }} 
       <div *ngIf="form.get('uuid')!.invalid && form.get('uuid')!.touched" class="bg-danger"> Error in uuid</div>
    
        
    </div>
    
    
    
    <div class="form-group">
        <label for="email">Email test</label>
        
        <input type="email" formControlName="email" /> 
    
        
    </div>
    <br><br><br><br>

    <div formArrayName="addresses" *ngFor="let address of $any(form).get('addresses').controls; let i=index">

    

        <div [formGroupName]="i">
            <div class="form-group">
                <input formControlName="street" placeholder="Street name"> Exposed street name: {{ $any(form).get('addresses').controls[i].controls.street.value }}
            </div>
            <div class="form-group">
                <input formControlName="zip" placeholder="zip code">Exposed zip errors: {{ $any(form).get('addresses').controls[i].controls.zip.errors | json }}
            </div>
         </div>


    
    </div>
    <br>
    <button type="button" (click)="putAddressControl()">Add address</button> - 
    <button type="button" (click)="removeAddressControl()">Remove address</button>

<!--
    <div *ngFor="let ctrl of $any(form).get('addresses').controls; let i=index">
        <div class="form-group">
            <label for="street-{{ i }}">Street:</label>
            <input id="street-{{ i }}" type="text" [formControlName]="i"> {{i}}
        </div>
        <div class="form-group">
            <label for="zip-{{ i }}">Zip:</label>
            <input id="zip-{{ i }}" type="text" [formControlName]="i">
        </div>
        <br>
    </div>

-->

    </form>