<p>registration-form-reactive works!</p>

<div class="container">
<div >
    {{f.invalid}}
    <form [formGroup]="formHtml" (submit)="submitHandler()" class="row g-4">



    <div class="col-md-12">
        <label for="validationServer01" class="form-label">Full name</label>
        <input type="text"  formControlName="fullname"
        [ngClass]="{'form-control':true, 
        'is-invalid' : f.fullname?.errors !== null && f.fullname.touched,
        'is-valid' : f.fullname?.errors == null
        }">        

        <div id="fullnameValidationFeedback" class="invalid-feedback" >
            <ng-template [ngIf]="f.fullname?.errors?.required && f.fullname.touched"> 
                 This field is required
            </ng-template>
     
            <ng-template [ngIf]="f.fullname?.errors?.pattern && f.fullname.touched"> 
             This field mast be in format: Name Lastname
             </ng-template>
           
         </div>


    </div>
   
   
    <div class="col-md-12">
        <button class="btn btn-primary" [disabled]="formHtml.invalid" type="submit">Submit form</button>        
    </div>
</form>
</div>

</div>