
<ul>
    <li><a routerLink="/wsh-form" routerLinkActive="active" > Wsh Form</a></li>
    <li><a routerLink="/form-r" routerLinkActive="active" > Form R</a></li>
    <li><a routerLink="/form-td" routerLinkActive="active" > Form TD</a></li>
    <li><a routerLink="/learningDirective" routerLinkActive="active" > Learn Directive</a></li>
    <li><a routerLink="/movieDb" routerLinkActive="active" fragment="navbar"> MovieDb</a></li>
    <li><a routerLink="home" routerLinkActive="active"> Home</a></li>
    <li><a routerLink="todo-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Todos</a></li>
    <li><a routerLink="about" routerLinkActive="active"> About  (test redirect from .ts)</a></li>
    <li><a routerLink="child-router-outlet" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Child Router Outlet</a></li>
    <li><a routerLink="todo-list/yyy" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Old exam</a></li>
</ul>
