
<input #inputName type="text" [value]="nameVal" (keyup)="onKeyUpHandler(inputName.value)" />


<div>

    <input #taskInput type="text" />
    <button (click)="addTask(taskInput.value); taskInput.value='';">add</button>
</div>


<div id="todo-list">



    <app-todo-item  *ngFor="let todoEl of todoGetAll(); let indx = index" [todoItem]='todoEl' [todoIndemIndx]="indx"  (toggleEvent)="toggleComplition(indx, $event)" >
        <div class="header">This is header</div>

        This is for ng content test: {{indx}}
        
        <div class="footer">This is footer</div>
    </app-todo-item>

</div>
<br>
<img [attr.src]="imgURL" width="200" height="130" >