<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button #navbarToggler appCollapse class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="!isAuthenticated()" class="nav-item active">
          <a (click)="(navbarToggler.offsetParent !== null) ? navbarToggler.click() : null" [routerLink]="['/postComentStructure/auth',{outlets: {'postCommentRouterOutlet':['login'] }} ]"   class="nav-link"  data-toggle="collapse" data-target=".navbar-collapse.show">Login</a>
        </li>
        <li *ngIf="!isAuthenticated()" class="nav-item">
          <a (click)="(navbarToggler.offsetParent !== null) ? navbarToggler.click() : null" [routerLink]="['/task',{outlets: {'taskRouterOutlet':['signup'] }} ]"   class="nav-link"  data-toggle="collapse" data-target=".navbar-collapse.show">Sign up</a>
        </li>
        <li *ngIf="isAuthenticated()" class="nav-item">
          <a class="nav-link" [routerLink]="" (click)="(navbarToggler.offsetParent !== null) ? navbarToggler.click() : null;logOut()">Logout</a>
        </li>
        <li *ngIf="isAuthenticated()" appNavDropdown class="nav-item dropdown">
          <a [routerLink]="" class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Post</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" [routerLink]="['/postComentStructure/post',{outlets: {'postCommentRouterOutlet':['all'] }} ]" (click)="(navbarToggler.offsetParent !== null) ? navbarToggler.click() : null">All Posts</a>
            <a class="dropdown-item" [routerLink]="['/postComentStructure/post',{outlets: {'postCommentRouterOutlet':['create'] }} ]" (click)="(navbarToggler.offsetParent !== null) ? navbarToggler.click() : null">Create Post</a>
          </div>
        </li>
      </ul>
      
    </div>
  </nav>
  <div id="top"></div>
  
  
  
  
  
  
