<p>user-list-with-resolver works!</p>
<button (click)="seedBookHandler()">Seed Books</button> - 
<button (click)="testEffect()">Test Effect</button> -
<button (click)="seedPostEffect()">Seed post Effect</button> -
<div *ngIf='(isLoadingPosts$ | async)'>Loading posts ....</div>
<button (click)="clearState()">Clear State</button> - 
<button (click)="clearAppState()">Clear App State</button> 
<br>count of books: {{bookCount$ | async}}

<br><br>
<app-add-book></app-add-book>
<br><br>
<ul>
    <li *ngFor="let user of (users$ | async)">{{user.username}}
        <button (click)="selectBookHandler(user.id)">Select Books</button>
        <button (click)="deleteHandler(user.id)" >Delete</button> </li>
</ul>
All book [with pipe and select]
<ul>
    <li *ngFor="let book of (this.booksUndefinded$ | async)">{{book.name}}
        
</ul>




<app-books-of-user></app-books-of-user>

<div *ngIf="!(this.isLoadingPosts$ | async) &&  (this.posts$ | async) as posts">

    Posts [with effect]
   
   <ul *ngIf="posts.length>0">
       <li *ngFor="let post of posts">{{post.title}}
   </ul>
   
   <div *ngIf='posts.length==0'>No posts, please press 'seed Post' button</div>
   
   
   </div>

