<form [formGroup]="form" (ngSubmit)="submitHandler(form.value)">
    <div class="form-group">
        <label for="userId">userId</label>
        <input type="number" [formControl]="$any(form).get('userId')" />  
       <div *ngIf="form.get('userId')!.invalid && form.get('userId')!.touched" class="bg-danger"> Error in userId</div>
    
        
    </div>

    <div class="form-group">
        <label for="bookName">Book Name</label>
        <input type="text" [formControl]="$any(form).get('name')" />  
       <div *ngIf="form.get('name')!.invalid && form.get('name')!.touched" class="bg-danger"> Error in bookName</div>
    
        
    </div>

    <button [disabled]='form.invalid'  type="submit">Add book</button>

</form>